openapi: 3.0.3
info:
  title: Pepperoni.tatar API
  version: "2.0.0"
  description: >
    Каталог халяль мясных изделий от Казанских Деликатесов.
    Актуальные цены из Google Sheets: пепперони, сосиски, ветчина, котлеты, мясные заготовки.
    Цены в RUB, USD, KZT, UZS, KGS, BYN, AZN.
  contact:
    name: Казанские Деликатесы
    email: info@kazandelikates.tatar
    url: https://kazandelikates.tatar
servers:
  - url: https://api.pepperoni.tatar
    description: Production server
paths:
  /api/products:
    get:
      tags:
        - Products
      summary: Актуальный каталог продуктов (live из Google Sheets)
      description: >
        Возвращает актуальные данные о продуктах и ценах, синхронизированные
        с Google Sheets прайс-листом. Обновляется при каждом запросе.
        Кешируется на 1 час.
      operationId: getLiveProducts
      parameters:
        - name: search
          in: query
          description: Поиск по названию, категории или SKU (например, ?search=пепперони)
          required: false
          schema:
            type: string
            example: пепперони
        - name: section
          in: query
          description: Фильтр по разделу (Заморозка, Охлаждённая продукция, Выпечка)
          required: false
          schema:
            type: string
            example: Заморозка
        - name: category
          in: query
          description: Фильтр по категории (Топпинги, Сосиски, Ветчины, Копченые и др.)
          required: false
          schema:
            type: string
            example: Топпинги
        - name: sku
          in: query
          description: Точный поиск по артикулу (например, ?sku=KD-015)
          required: false
          schema:
            type: string
            example: KD-015
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@context':
                    type: string
                    example: https://schema.org
                  '@type':
                    type: string
                    example: DataCatalog
                  dateModified:
                    type: string
                    format: date-time
                  totalProducts:
                    type: integer
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
  /products.json:
    get:
      tags:
        - Products
      summary: Статический каталог продуктов
      description: Статический JSON-файл с каталогом продуктов (25 товаров).
      operationId: getStaticProducts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
components:
  schemas:
    Offer:
      type: object
      properties:
        url:
          type: string
          format: uri
        priceCurrency:
          type: string
          example: RUB
        price:
          type: string
          example: "290.00"
        priceExclVAT:
          type: string
          example: "263.64"
        availability:
          type: string
          example: https://schema.org/InStock
        exportPrices:
          type: object
          properties:
            USD:
              type: number
            KZT:
              type: number
            UZS:
              type: number
            KGS:
              type: number
            BYN:
              type: number
            AZN:
              type: number
        deliveryTerms:
          type: string
          example: EXW Kazan Russia
    Product:
      type: object
      properties:
        name:
          type: string
        sku:
          type: string
        category:
          type: string
        weight:
          type: string
        brand:
          type: string
        description:
          type: string
        certification:
          type: string
          example: Halal
        offers:
          $ref: '#/components/schemas/Offer'
        shelfLife:
          type: string
          example: "360 суток"
        storage:
          type: string
          example: "–18°C"
        hsCode:
          type: string
          example: "160100"
